*{
    margin: 0;
    padding: 0;
}

body{

    background-color: beige;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


header{
    background-color: black;
    padding: 40px;
    

}

ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    

}

li{
    list-style: none;
    font-size: x-large;
}

a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1{
    text-align: center;
    margin: 50px;
}

section:first-of-type{
    margin-bottom: 40px;
}

article{
    display: flex;
    align-items: center;

}
div{
    width: 50%;
    text-align: center;
    align-items: center;

}
img{
    width: 100%;
    height: auto;

}

h2{
    margin: 20px;
}

p{
    margin: 20px;
}

section:nth-of-type(2){
    display: flex;
    
}

div{
    margin : 45px;
}

section:nth-of-type(2) div:nth-of-type(2){
    width:400px;
    
    
}

img{
    width:100%
    

}


